<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body style="background-color:{{color}};">
    <nav class="navbar">
    <a href="/">Home</a>
    <a href="/lucky">Lucky Numbers</a>
    <a href="/about">About</a></nav>
    <section id="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}        
        <nav class="{{category}}">{{msg}}</nav>
        {% endfor %}
        {% endwith %}
    </section>
    <main id="content">{% block content %} {% endblock %}</main>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/lodash"></script>
    <script src="static/app.js"></script>

</body>
</html>